code/disks/A/* linguist-vendored
code/disks/B/* linguist-vendored
code/disks/C/* linguist-vendored
code/disks/D/* linguist-vendored
code/disks/E/* linguist-vendored
code/disks/F/* linguist-vendored
code/disks/G/* linguist-vendored
code/disks/H/* linguist-vendored
code/disks/I/* linguist-vendored
code/disks/J/* linguist-vendored
code/disks/K/* linguist-vendored
code/disks/L/* linguist-vendored
code/disks/M/* linguist-vendored
code/disks/N/* linguist-vendored
code/disks/O/* linguist-vendored
